.root {
  display: flex;
  gap: var(--s-2);
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #7a7f8a;
  opacity: 0.5;
}

.dot.active {
  background: #fff;
  opacity: 1;
}
